.navbar-default.navbar-fixed-top {
  background: #CAFCFB;
  box-shadow: 0 3px 6px #666666;
}
.margin-right {
	margin-right: 3%;
}

#rightLinks, #leftLinks  {
  font-size: 1.5em;
}
#leftLinks li {
  font-size: 1.5em;
	
}

