 <nav class="navbar navbar-default navbar-fixed-top" ngsReveal> 
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Jesse Soldat</a>
    
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    	<ul class="nav navbar-nav hidden-xs">
        <li><a 
        href="https://github.com/JesseSoldat"
        target="_blank">
        	<i class="fa fa-github fa-2x"></i>
        </a></li>
        <li><a 
        href="https://www.linkedin.com/in/jesse-soldat-126544110" target="_blank">
      		<i class="fa fa-linkedin fa-2x"></i>
        </a></li>
        <li><a (click)="onContact('email')">
        	<i class="fa fa-envelope fa-2x"></i>
        </a></li>
        <li><a (click)="onContact('phone')">
        	<i class="fa fa-phone fa-2x"></i>
        </a></li>
      </ul>
    	<ul class="nav navbar-nav">
    	
    		<li class="dropdown hidden-sm hidden-md hidden-lg" id="leftLinks">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Social <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://github.com/JesseSoldat"
        				target="_blank">	
        				<i class="fa fa-github fa-1x margin-right"></i>Github
        		</a></li>
        		<li><a href="https://www.linkedin.com/in/jesse-soldat-126544110"
        				target="_blank">
        				<i class="fa fa-linkedin fa-1x margin-right"></i>LinkedIn
        		</a></li>
        		<li><a (click)="onContact('email')">	
        				<i class="fa fa-envelope fa-1x margin-right"></i>Email
        		</a></li>
        		<li><a (click)="onContact('phone')">
        				<i class="fa fa-phone fa-1x margin-right"></i>Phone
        		</a></li>
            
            <!-- <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li> -->
          </ul>
        </li>
       </ul>


      <ul class="nav navbar-nav navbar-right" id="rightLinks">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/">Home</a>
        </li>
        <li routerLinkActive="active"><a routerLink="/about">About</a></li>
        <li routerLinkActive="active"><a routerLink="/work">Work</a></li>
        <li routerLinkActive="active"><a routerLink="/skills">Skills</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>






<!-- Email Modal -->
<div id="email-modal" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Email</h4>
    </div>
    <div class="modal-body">
      <a href="mailto:jsoldat@hotmail.com"
      id="email" value="jsoldat@hotmail.com"
      >jsoldat@hotmail.com</a>

     
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
     <!--  <button 
      type="button" class="btn btn-primary"
      alt="Copy to clipboard">Copy</button> -->
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

