#projectContainer {
	background: white;
	padding: 2% 3%;
	border-radius: 1%;
	box-shadow: 10px 10px 15px solid #666666;
	margin-bottom: 130px;
}

#projectTitle {
	display: inline-block;
	margin-right: 3%;
}

#projectImg {
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
	margin: 0 auto;
	box-shadow: 10px 10px 15px solid #666666;
	margin-bottom: 30px;



}