<div id="spacer"></div>
<div id="projectContainer" class="col-xs-12 col-lg-11">
	<div class="row">
		<div class="col-xs-12">
			<h4 id="projectTitle">{{project.title}}</h4>
			<a href={{project.url}} target="_blank">View Live </a>
			<span><p><strong>|</strong></p></span>
			<a href={{project.github}} target="_blank"> View Code</a>
			<hr class="hidden-xs">
		</div>
		
		<div class="col-xs-12 col-md-5">
			<p>{{project.description}}</p>
		</div>
		<div class="col-xs-12 col-md-7" id="imgWrapper">
			<img id="projectImg" src="../../../assets/{{project.img}}">
		</div>
	</div>
</div>


