#homeImgWrapper {
	 background: url(../../../assets/space.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 90vh;
}

#homeContainer {
	height: 90vh;
}
#imgContainer {
	margin-top: 15%;
}
/*xs*/
#homeContainerXs {
	height: 90vh;
}

#imgContainerXs {
	margin-top: 25%;
	/*position: absolute;*/
}
#jessePic  {
	width: 250px;
	display: block;
	margin: 0 auto;	
}
#jessePicBtn {
	display: block;
	margin: 0 auto;	
	width: 250px;

}

#jesseCode {
	width: 100%;
}
