#homeImgWrapper {
	 background: url(../../../assets/space.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 90vh;
}
#profileImg {
	width: 100%;
	margin: 160px auto 40px;
}
/*xs*/
#homeContainerXs {
	height: 90vh;
}

#imgContainerXs {
	margin-top: 50px;
}
#jessePic  {
	width: 300px;
	display: block;
	margin: 0 auto;	
}
#jessePicBtn {
	display: block;
	margin: 0 auto;	
	width: 300px;
}

#jesseCode {
	width: 100%;
}

@media only screen and (max-width: 770px) {
 #imgContainer {
		margin-top: 150px;
	}
}
@media only screen and (max-width: 550px) {
	#jesseCode {
		margin-top: 100px;
	}
	
}
@media only screen and (max-width: 420px) {
	#jessePic  {
		width: 270px;
	}
	#jessePicBtn {
		width: 270px;
	}
}
@media only screen and (max-width: 380px) {
	#jessePic  {
		width: 250px;
	}
	#jessePicBtn {
		width: 250px;
	}
}
@media only screen and (max-width: 350px) {
	#jessePic  {
		width: 200px;
  }
	#jessePicBtn {
		width: 200px;
	}
	
}
