#workImgWrapper {
   background: url(../../../assets/code.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
#workContent {

}


#projectsList {
	margin-top: 10%;
}
#projectContainer {
	padding-bottom: 10%;
}

/*xs*/
#workContainerXs {
	margin-top: 25%;
	margin-bottom: 25%;

}

#spacer {

}