#AppWrapper {
	position: relative;
}
#spacer {
	height: 100px;
}
#bottomSpacerMdLg {
	height: 400px;
}
#bottomSpacerXsSm {
	height: 600px;

}
 button { font-size:1.8em; }
        
 #content { padding:30px; background:#eeeeee; }

#myAwesomeAnimation {
	width:200px;
  background:lightgray;
  margin: 100px auto;
  text-align:center;
  padding:20px;
  font-size:1.5em;
}

#pdfIcon {
	margin-right: 20px;
}

#footer {
	padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid #E4E4E4;
}