<app-navbar (contact)="contact($event)">
</app-navbar>

<div id="spacer"></div>

<app-clipboard *ngIf="contactType && contactType.length > 0" 
(closeContact)="closeContact($event)"
[contactType]="contactType"
></app-clipboard>


<div class="row">
<!--   <div class="col-xs-6 col-xs-offset-3">
      <button (click)="toggleMove()">Press me for animation</button>
  </div> -->
 <!--  <div class="col-xs-6 col-xs-offset-3">
      <div id="content" [@focusPanel]='state'>Look at me animate</div>
  </div> -->
</div>

<!-- <div id="spacer"></div>
<p id="myAwesomeAnimation" [@myAwesomeAnimation]='state' (click)="animateMe()">I will animate</p> -->

<router-outlet></router-outlet>
