#skillsImgWrapper {
	 background: url(../../../assets/skills.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 90vh;
}
#skillsContent {
	margin-top: 10%;
	background: white;
	padding: 3%;
}
#skillsTitleContainer {
	display: block;
	margin: 0 auto;
}
#skillsTitle{
	display: inline-block;
	margin-right: 3%;
	vertical-align: middle;
}
#skillsImg {
	display: inline-block;
	width: 30px;
	padding-top: 10px;
}
#lgList {
	display:table; 
	margin:0 auto;
}

li {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 2;
}